In [8]:
#47
print("a ", 0.75*0.25+0.25*0.6)
#P(Ä | +) = P(Ä ∩ +)/P(+)
print("b ", (0.75*0.25) / 0.3375)

a  0.3375
b  0.5555555555555555

In [13]:
#48 #P(M | P) = P(M ∩ P)/P(P)
print("a ", 0.1/0.2)
#P(P | M) = P(P ∩ M)/P(M)
print("b", 0.1/0.45)
#P(M) + P(P) - P(P | M)
print("c", 0.45 + 0.2 - 0.5)

a  0.5
b 0.22222222222222224
c 0.15000000000000002

In [17]:
#49 P(B | A) =  (P(A | B) ⋅ P(B)) / (P(A | B) ⋅ P(B) + P(A | -B) ⋅ P(-B))
#P(A | B)
aB = 0.965
#P(B)
b= 0.0002
#P(A | -B)
aNB= 4/365 # = 0.010959
#P(-B)
nB= 1-0.0002 # = 0.9998

(0.965 * 0.0002) / ( (0.965 * 0.0002) + (0.010959 * 0.9998) )

0.017309714798502095

In [24]:
#50 Mittelwert = Durchschnitt
import pandas as pd
data = {"Schäden" : [0, 1, 2, 3, 4], "Anzahl_Versich" : [75, 19, 3, 2, 1]}
df = pd.DataFrame(data)

df["Schäden_x_Anzahl_Versich"] = df["Schäden"] * df["Anzahl_Versich"]

print(df["Schäden_x_Anzahl_Versich"].sum())

df.loc["Total"] = df.sum()
display(df)

35

       Schäden  Anzahl_Versich  Schäden_x_Anzahl_Versich
0            0              75                         0
1            1              19                        19
2            2               3                         6
3            3               2                         6
4            4               1                         4
Total       10             100                        35

In [34]:
#51 1gew 2mögl 0 KKK; 1 ZKK * KZK * KKZ
data = {"Anzahl_Zahl" : [0, 1, 2, 3], "Gewinn" : [-20, 2, 3, 4], "Verteilfunktion" : [1/2*1/2*1/2, (1/2*1/2*1/2)*3, (1/2*1/2*1/2)*3, (1/2*1/2*1/2)]}
df = pd.DataFrame(data)

df["Erwarungswert"] = df["Gewinn"]*df["Verteilfunktion"]
erwarungswert = df["Erwarungswert"].sum()

print("Erwarungswert ", erwarungswert, "Eur")
print("Varianz ", erwarungswert**2, "Eur")

df.loc["Total"] = df.sum()
display(df)

Erwarungswert  -0.125 Eur
Varianz  0.015625 Eur

       Anzahl_Zahl  Gewinn  Verteilfunktion  Erwarungswert
0              0.0   -20.0            0.125         -2.500
1              1.0     2.0            0.375          0.750
2              2.0     3.0            0.375          1.125
3              3.0     4.0            0.125          0.500
Total          6.0   -11.0            1.000         -0.125

In [ ]:
#52